<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div style="float: left">
      <%= image_tag image_url(@match.radiant_team.logo.url) %>
    </div>
    <div>
      <%= image_tag image_url(@match.dire_team.logo.url) %>
    </div>
  </body>
</html>
