# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
# Ignore all yml configs
/config/*.yml

# Ignore application configuration
/config/application.yml
