<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="margin: 0; padding: 0;">
    <div style="background: #6B8AAA; height: 50px; width: 300px; border: 1px white solid;">
      <div style="float: left;">
        <span style="color: white;"><%= @match.radiant %></span>
      </div>
      <div style="color: blue;">
        <%= @match.league_name %>
      </div>
      <div>
        <span style="color: white;"><%= @match.dire %></span>
      </div>
    </div>
  </body>
</html>
