<p><b>Chats count:</b> <%= @chats_count %></p>
<hr/>
<p><b>Live matches:</b></p>
<% @live_matches.each do |match| %>
  <%= match.teams %>
  </br>
<% end %>
<hr/>
<p><b>Recent matches:</b></p>
<% @finished_matches.each do |match| %>
  <%= match.teams %>
  </br>
<% end %>
<hr/>
